.firstdiv {
    width: 100%;
    height: 50px;
    background-color: #0095ff;
}

.card-img-top {
    height: 260px;
    object-fit: cover;
}

.col-sm-12 {
    margin-top: 30px;
}

.container-fluid {
    width: 100%;
    height: 900px;
    background-image: url(myPHOTOS/fish.jpg);
    background-size: cover;
}

.card {
    height: 480px;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.carousel-control-next {
    margin-right: 60px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 10px #2196f3, ;
    color: #255784;
    background: #0b97b3;
}

.thirddiv {
    height: 520px;
    width: 100%;
    left: 0;
    top: 0;
}


/* Reset. */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}


/* Panels. */

.splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
}

.panel {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    overflow: hidden;
}

.panel .content {
    position: absolute;
    width: 100vw;
    min-height: 45vw;
    color: #FFF;
}

.panel .description {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.panel img {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    background-color: rgb(44, 44, 44);
    z-index: 1;
}

.bottom .description {
    right: 5%;
}

.top {
    background-color: #139ded;
    z-index: 2;
    width: 50vw;
    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
}

.top .description {
    left: 5%;
}


/* Handle. */

.handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: #1f5af0;
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
}


/* Skewed. */

.skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}

.skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
}

.skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
}


/* Responsive. */

@media (max-width: 900px) {
    body {
        font-size: 75%;
    }
}

.photo {
    background-size: cover;
}

.fourthdiv {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0095ba;
    text-align: center;
    background-image: url(image2/fish.jpg);
    background-size: cover;
}

.ul1 {
    display: flex;
    margin-top: 200px;
}

.ul1 li {
    position: relative;
    display: block;
    color: #139ded;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: black;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 50px;
    cursor: pointer;
}

.ul1 li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #d35400;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: .5s;
}

.ul1 li:hover:before {
    transform: scale(1.2);
}

.navbar-brand {
    color: black;
}

.nav-link {
    color: black;
}